/*
Reset
*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 @import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

/*
navigation
*/

.main-nav ol {
     text-align: center
}

.main-nav ol li {
    text-transform: uppercase;
    display:inline-block;
    padding: 2px 8px;
    width: 180px; height: 25px;
    text-decoration: none;
    color: rgb(128,0,32);
    background-color: grey;
    font-weight: 600;
    
}

.main-nav ol li:hover {
    color: white

}


/*
Layout
*/

article {
    line-height: 1.5em;
    margin: 1em 20px;
}

header,
footer {
    padding-left: 1.5em;
    padding-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
}
footer {
     background-image: url(final-project-prototype-1-1-1-0\img);
     padding-top: 8em;
     text-align: center;
     width: 100%;
     
            
        }
div.social-media {
    background-color: transparent;
    display: inline-block;
    width: 30%; 
    font-size: 180%;
    position:absolute;
    top: 0;
    right: 0;
   
    
    
    
}

/*
color
*/

 body {
        color: whitesmoke;background-color: rgb(20,30,30);
        }
 h1,h3,h4 {
        color: rgb(208,178,108)

        }
form,label {
    color: black
}

/*
typography
*/

body {
    font-family: "Karla",sans-serif;
}



