/*---------------------------------------
Reset
*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 @import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

/*---------------------------------------
navigation
--------------------------------------
*/

.main-nav ol {
     text-align: center
}

.main-nav ol li {
    text-transform: uppercase;
    display:inline-block;
    padding: 2px 8px;
    width: 180px; height: 25px;
    text-decoration: none;
    color: rgb(128,0,32);
    background-color: grey;
    font-weight: 600;
    
}

.main-nav ol li:hover {
    color: white

}


/*-----------------------------------------
Layout
------------------------------------------
*/

article {
    line-height: 1.5em;
    margin: 1em 20px;
}

header {
    padding-top: 2em;
    text-align: center;
    padding-left: 1.5em;
    padding-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
}
footer {
     
     padding-top: 2em;
     text-align: center;
     width: 100%;
    padding-left: 1.5em;
    padding-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
     
            
        }
div.social-media1 {
    background-color: transparent;
    display: inline-block;
    width: 15%; 
    font-size: 180%;
    position:absolute;
    top: 0;
    right: 0;
    
}
div.social-media2 {
    background-color: transparent;
    display: inline-block;
    width: 35%; 
    font-size: 180%;
    bottom: 0;
}
div.social-media2:hover {
    cursor:pointer
}
div.social-media1:hover {
    cursor:pointer
}
h4 {
    display:flex;
    text-align: left;
    width: 35%;
    text-align-last: center;
}
button.footer {
    background-color: transparent;
    text-transform: uppercase;
    right:20px;
    border: none;
    padding: 10px;
    position: absolute;
}
button.footer:hover {
    color: white;
    background-color: rgb(208,178,108);
    cursor: pointer;
}
#privacy {
    margin-right: 17%;
}
#terms {
    margin-right: 10%;
}


/*-----------------------------------------
Pictures
-----------------------------------------
*/
header {
    background-image: url(https://herrclemensfriedrich.github.io/final-project/final-project-prototype-3-1-1-0/img/laptop.jpg);
    background-size: 100%;
}
footer {
    background-image: url(https://herrclemensfriedrich.github.io/final-project/final-project-prototype-3-1-1-0/img/workspace.jpg);
    background-size: 100%;
}
body {
    background-image:url()
}






/*-----------------------------------------
color
------------------------------------------
*/

 body {
        color: whitesmoke;background-color: rgb(20,30,30);
        }
 h1,h3,h4,button {
        color: rgb(208,178,108)

        }
form,label {
    color: black
}

/*
typography
*/

body {
    font-family: "Karla",sans-serif;
}



