*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

body {
    font-family: 'Lexend Deca', sans-serif;
}

#mobile-nav ul {
     list-style-type: none;
}

#mobile-nav ul li {
     text-align: center; display: inline-block; text-decoration: none; width: 15%; font-size: 0.5em; overflow-y: hidden; background-color: rgba(230,240,240,0.8)
    
}

#desktop-nav ul li {
    text-align: center; display: block; text-decoration: none;
}

header {
    background-image:url(https://herrclemensfriedrich.github.io/final-project/final-project-prototype-2-1-1-0/img/sky.jpg)
}
